// Common color
$color-information: #1890ff !default;
$color-success: #35d6af !default;
$color-warning: #faad14 !default;
$color-error: #ff7777 !default;
$color-primary: #48abe2 !default;

// Font color
$font-color-default: #292d32 !default;
$font-color-caption: #8a8a8a;

// Background color
$bg-color-default: #eff2fc !default;
$bg-input-color: #f4f4f4;

// Border color
$border-default-color: #e1e6ef !default;
$border-active-color: #19bcfe;
