@use './variables';

@font-face {
  font-family: 'Roboto-100';
  src: url('../assets/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto-300';
  src: url('../assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-400';
  src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-500';
  src: url('../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-700';
  src: url('../assets/fonts/Roboto-Bold.ttf');
}

/* Global - Style */
body {
  font-size: $font-size-default;
  font-family: 'Roboto-400';
  color: $font-color-default;
}

div {
  &#root,
  &.App {
    height: 100%;
  }
}
