@import './colors';

// Font size
$font-size-x-small: 10px;
$font-size-small: 12px;
$font-size-default: 14px;
$font-size-sub: 16px;
$font-size-title: 20px;
$font-size-headline: 24px;
$font-size-heading: 34px;
